/* Common styles for all devices */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('backgroundnexassure.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-bar {
  background: rgba(0, 0, 0, 0.9);
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.title-bar img {
  max-height: 30px;
}

.center-container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

/* Logo container styles */
.logo-container {
  margin-bottom: 20px;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

.upload-label {
  display: block;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-label:hover {
  background-color: #2980b9;
}

.timestamp-input {
  margin-top: 10px;
}

input[type="text"] {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

input[type="text"]:focus {
  outline: none;
}

.action-button {
  background: rgba(46, 204, 113, 0.8);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 5px;
  font-size: 14px;
  transition: background 0.3s ease;
}

.action-button:hover {
  background: rgba(46, 204, 113, 1);
}

.action-button.save-button {
  background: rgba(52, 152, 219, 0.8);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 5px;
  font-size: 14px;
  transition: background 0.3s ease;
}

.action-button.save-button:hover {
  background: rgba(52, 152, 219, 1);
}

.result-container {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
  .title-bar img {
    max-height: 25px;
  }

  .center-container {
    padding: 10px;
  }

  input[type="text"] {
    font-size: 12px;
  }

  .action-button {
    font-size: 12px;
  }

  .action-button.save-button {
    font-size: 12px;
  }
}
